---
import Layout from "../layouts/Layout.astro";
import { Hero, TableSection, FaqSection } from "src/components/pages/index";
import { Footer } from "src/components/layout";
---

<Layout title="Decentralization is a public good">
  <main>
    <Hero />
    <TableSection />
    <FaqSection />
    <Footer />
  </main>
</Layout>
