---
import { DualSquarePattern } from "src/components/design";
import { Footer, Navbar } from "src/components/layout";
import { Features, Hero, Values } from "src/components/pages/home";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="EVMavericks • Home">
  <div class="bg-white">
    <Navbar client:load />
    <main>
      <div class="overflow-hidden">
        <!-- <DualSquarePattern /> -->
        <!-- <Hero /> -->
        <Values />
      </div>
      <Features />
      <Footer />
    </main>
  </div>
</Layout>
