---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Hero } from 'src/components/pages/index';
---
<Layout title="Welcome to Astro.">
<main>
  <Hero />
</main>
</Layout>
