---
import { Footer, Navbar } from "src/components/layout";
import { Features, Hero, Values } from "src/components/pages/home";
import Page from "src/components/pages/home/Page";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="EVMavericks • Home">
  <div class="bg-white">
    <Navbar client:load />
    <main>
      <Hero />
      <Values />
      <!-- <Features /> -->
      <Footer />
    </main>
  </div>
</Layout>
