---
import Layout from "../layouts/Layout.astro";
import {
  Hero,
  TableSection,
  FaqSection,
  TestimonialSection,
} from "src/components/pages/index";
import { Footer, Navbar } from "src/components/layout";
---

<Layout title="Decentralization is a public good">
  <Navbar />
  <main>
    <Hero />
    <TableSection />
    <TestimonialSection />
    <FaqSection />
    <Footer />
  </main>
</Layout>
