---
import { Navbar } from "src/components/pages/sandbox";
import Page from "src/components/pages/home/Page";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="EVMavericks • Test">
  <div class="bg-white">
    <Navbar />
    <main>
      <!-- <Hero /> -->
      <!-- <Values /> -->
      <!-- <Features /> -->
      <!-- <Footer /> -->
    </main>
  </div>
</Layout>
