---
import { Footer, Navbar } from "src/components/layout";
import {
  FaqSection,
  Hero,
  TableSection,
  TestimonialSection,
} from "src/components/pages/watchtower";
import Layout from "../layouts/Layout.astro";
---

<Layout title="EVMavericks • WatchTower">
  <Navbar />
  <main>
    <Hero />
    <TableSection />
    <TestimonialSection />
    <FaqSection />
    <Footer />
  </main>
</Layout>
